.headercolor{
  background-color: #f4bd37;
  color: white;
}

#facebook-logo path{
  fill:#FFFFFF;
}
#logomargin{
  margin:5px;
}
.letterspacing{
  letter-spacing: 5px;
}
.paramargin{
  margin-left: 25px;
  margin-right: 25px;
  letter-spacing: 1px;
}

.full_image {
    background-position: center center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    z-index: 500;
    width:100%;
    min-height: 100px;
}
